.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/backnoise.png');
  border-radius: 1rem;
  padding: 3rem;
  border: 0.4rem solid black;
}