.container {
  position: relative;
  display: flex;
  height: 20rem;
}

.keyWhite {
  display: flex;
  border: 0.1rem solid black;
  border-top: 0.2rem solid black;
  border-radius: 0 0 1rem 1rem;
  background-color: white;
  width: 4.6rem;
  height: 100%;
}

.keyBlack {
  position: absolute;
  display: flex;
  height: 60%;
  width: 3.5rem;
  background-color: black;
  border: 0.1rem solid black;
  border-radius: 0 0 0.5rem 0.5rem;
}

.label {
  user-select: none;
  font-family: "arcade";
  color: #753d7d;
  font-size: 2rem;
  font-weight: 700;
  margin: auto auto 0;
}