.container {
  width: 7.5rem;
  height: 8.5rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  margin-top: 1.3rem;
  color: #b7b5b5;
  font-size: 1.5rem;
  font-weight: bold;
  user-select: none;
}

.knob:active {
  cursor: grabbing;
}

.knob {
  cursor: grab;
}

.slider::before {
  background: linear-gradient(0deg, #525252 0%, #373737 100%);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  box-shadow: 0px -8px 8px #757575, 0px 10px 17px #111111, inset 0px 2px 3px #979797, inset 0px -2px 3px #242424;
}

.slider::before, .knob {
  display: flex;
  width: 4.5rem;
  height: 4.5rem;
  position: relative;
}

.knob::before,
.knob::after,
.slider::before {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.knob::before {
  top: 1.5rem;
  left: 50%;
  transform: translateY(-100%);
  width: 0.7rem;
  height: 0.7rem;
  background: #b7b5b5;
}

.knob::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #b7b5b5;
  width: 130%;
  height: 130%;
  box-shadow: 0 0 1rem #349beb, inset 0 0 #349beb;
}

.knob:active::after {
  box-shadow: 0 0 2rem #349beb, inset 0 0 #349beb;
}

