.container {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-left: 2rem;
  border: 0.2rem solid #618099;
  padding: 0.5rem 1.5rem;
  border-radius: 0.8rem;
  position: relative;
  background-color: #3d3b3b;
  text-align: center;
  height: fit-content;
}

.content {
  margin-top: 0.5rem;
  display: flex;
}

.label {
  user-select: none;
  text-transform: uppercase;
  color: #a5a0a0;
  padding: 0.2rem 0 0.2rem 0.3rem;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  background-color: #753e7d;
  margin-bottom: auto;
  width: fit-content;
}