.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

h1 {
  font-family: "arcade";
  color: #753d7d;
  font-size: 5rem;
}

.synth {
  background-color: black;
  border-radius: 0.5rem;
  padding: 0.7rem;
  margin: 0 10rem;
}

.controllersPanel {
  display: flex;
  margin-bottom: 0.7rem;
}

.controllersPanel > :not(:first-child) {
  margin-left: 2rem;
}

.controllersPanel:active {
  cursor: grabbing;
}