.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.synth {
  background-color: black;
  border-radius: 0.5rem;
  padding: 0.7rem;
}

.controllersPanel {
  display: flex;
  margin-bottom: 0.7rem;
}
